# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Python_caller/Debug
/Python_caller/Release
/Python_caller/x64
/SuperWisdomUtils/x64
/SuperWisdomUtils/Debug
/SuperWisdomUtils/Release
/ZeroMQ/Debug
/ZeroMQ/Release
/OpencvTest/Debug
/OpencvTest/Release
/SuperWisdomUtils/.vs
/SuperWisdomUtils/Curl_test/Debug
/SuperWisdomUtils/Curl_test/Release
